[submodule "site"]
	path = site
	url = https://github.com/yepstepz/site
[submodule "conf"]
	path = conf
	url = https://github.com/yepstepz/conf
[submodule "blog"]
	path = blog
	url = https://github.com/yepstepz/blog
